@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Roboto; */
  background: rgb(241, 241, 241);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
